@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #111010;
  color: white;
}

.bg {
  background-image: url("https://cdn.discordapp.com/attachments/1106222232834945084/1106224845001330728/neural.gif");

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  backdrop-filter: blur(20px);
}

.project-card {
  position: relative;
  max-width: 300px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  position: absolute;
  z-index: 1;
  transform: scale(1.05);
}

.dim {
  opacity: 1;
  transition: opacity 1s;
}

.dimHover {
  opacity: 0.5;
  transition: opacity 1s;
}

.ReactGridGallery_tile {
  background-color: transparent !important;
}
