@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #111010;
  color: white;
}

.bg {
  background-image: url("https://cdn.discordapp.com/attachments/1106222232834945084/1138564166307811328/ezgif.com-gif-maker.gif");

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  backdrop-filter: blur(20px);
}

.project-card {
  max-width: 300px;
  height: 333px;
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  height: auto;
  transform: scale(1.05);
}

.dim {
  opacity: 1;
  transition: opacity 1s;
}

.dimHover {
  opacity: 0.5;
  transition: opacity 1s;
}

.ReactGridGallery_tile {
  background-color: transparent !important;
}
